*
{
    padding: 0;
    margin: 0;
}
header
{
    height: 10vh;
    background-color: black;
    
}
main:hover{
    height: 80vh;
    background-color: blueviolet;
  
}       
    
.progress
{
    width: 0vw;
    height: 1vh;
    background-color: aqua;
    animation: progress 2s  ;
}

@keyframes progress {
    0%
    {
        width: 10vw;
    }
    50%
    {
        width: 80vw;
    }
    100%
    {
        width: 100vw;
    }
    
}