*
{
    margin: 0;
    padding: 0;
}

li
{
    display: inline;
    padding: 35px;
}
header
{
    background-color: black;
    color: aqua;
    height: 3vh;
    width: 7v0w;
    padding: 30px 0px;
}

.box1
{
    height: 90vh;
    width: 50vw;
    background-color: cadetblue;
    float: left;
    
    
    
}
.box2
{
    height: 90vh;
    width: 50vw;
    background-color: chocolate;
    float: right;
    
   
}



