*
{
    margin: 0;
    padding: 0;
}
.box1
{
    height: 250px;
    width:400px;
    background-color: chocolate;
    display: inline-block;
    text-align: right;
}
.box2 
{
    height: 250px;
    width: 400px;
    background-color: rgb(112, 75, 49);
    display: inline;
}
.box3
{
    height: 150px;
    width: 300px;
    background-color: cornflowerblue;
    /* display: none; */
    /* visibility: hidden; */
}
