*
{
    margin: 0;
    padding: 0;
}

.navbar
{
    background-color: black;
    height: 60px;
    width: 100%;
}
.navbar ul li a
{
    color: aqua;
    text-decoration: none;
}
.navbar ul li 
{
    display: inline-block;
    margin:0px 30px;
}
.left
{
    height: 400px;
    width: 50%;
    background-color: blueviolet;
    display: inline-block;
}
.right
{
    height: 400px;
    width: 50%;
    background-color: rgb(33, 173, 237);
    display: inline-block;
}
.footer
{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
}
