.container
{
    display: grid;
    background-color: #f40909;
    height: 56vh;
    grid-row-gap: 5px;
    grid-column-gap: 5px; 
    grid-template-columns: auto auto auto auto ;
   
     /* grid-template-rows: 34px 44px   ; */
     /* justify-content:space-around; */
     /* align-items:end; */
    } 
    

.item 
{
    background-color: #48f010;
    border: 2px solid purple;
}

.item1
{
    grid-column: 1/4;
    color: aliceblue;
    background-color: rgb(15, 15, 16);
    grid-row: 1/3;
    /* grid-row: 1/span 3; */

}
.item6
{
    grid-column: 1/4;
    background-color: rgb(217, 239, 10);
    
}
.item5
{
    grid-column: 3/5;
    background-color: blueviolet;
    
}
.item7
{
    grid-column: 4/5;
    background-color: #09f463;
}
.item4
{
    grid-column: 1/3;
    background-color: aqua;
}