.container
{
    background-color: #07d2a6;
    height: 10vh;
    width: 99vw;
}
@media screen and (max-width: 600px){
    body  {
        background-color: blueviolet;
    }
    .container
    {
        background-color: cadetblue;
    }
}