*
{
    margin: 0;padding: 0;
}
.container1
{
    background-color: rgb(92, 170, 172);
    height: 50vh;
    max-height: 60vh;
    width: 50vw;
    max-width: 60vw; 
    
}
.container2
{
    background-color: rgb(60, 168, 71);
    height: 50vh;
    min-height: 60vh;
    width: 50vw;
    min-width: 60vw;
  
}