.em
{
    background-color: aqua;
}
.container1
{
    font-size: 20px;
}

.box1
{   
    font-size: 2em;  
}



.rem
{   
    margin-top: 20px;
    background-color: cadetblue;
}
html
{
    font-size: 6px;
}
.box2
{
    font-size: 4rem;
}



