.red{
    background-color: rgb(142, 159, 58);
    color: rgb(181, 214, 214);
    height: 150px;
}

.green{
    background-color: rgb(27, 39, 27);
    color: rgb(52, 99, 138);
    height: 150;
}
*{
    margin: 0;
    padding: 0;
}