*{
    padding: 0;
    margin: 0;
}

.nav
{
    background-color: rgb(20, 20, 25);
    height: 300px;
    width: 200px;
}
nav li
{
    color: blanchedalmond;
    
}
.main{
    background-color: cadetblue;
}
div.image
{
    width: 200px;
    border: 2px solid gray;
    background-image: url(OIP.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 200px 200px;
    
}
div.image2{
    background-image: url(OIP.jpeg);
    height: 400px;
    width: 200px;
    background-repeat: no-repeat;
    background-color: aqua;
    background-size: 200px;
    background-attachment: fixed;
    /* background-attachment: scroll; */
    background-position: bottom left ;

}