body
    {
        background-color: rgb(13, 13, 13);
    }
h1:hover
    {
        color: rgb(249, 244, 244);
        text-align: center;
        
    }
p  
    {
        color: cadetblue;
        text-align: center;
    }