div.red p
{
    background-color: red;
    color: white;
}
h3#head
{
    background-color: black;
}
div.one
{
    background-color: cyan;
}
div.two
{
    background-color: rgb(147, 83, 96);
}
div.three
{
    background-color: yellowgreen;
}
div.four
{
    background-color: #4285f4;
}
.sai 
{
    background-color: rgb(248, 159, 43);
    color: black;
}